<a class="flex items-center" href="#">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="14"
    height="14"
    viewBox="0 0 14 14"
  >
    <g
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1"
    >
      <path
        d="M1 2h12c.3 0 .5.2.5.5v8c0 .3-.2.5-.5.5H1c-.3 0-.5-.2-.5-.5v-8c0-.3.2-.5.5-.5m5 9l-1 2.5M8 11l1 2.5m-5 0h6m-7-7h3M4.5 5v3"
      />
      <path
        d="M10.8 6.05a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5M9 7.45a.25.25 0 0 1 0-.5m0 .5a.25.25 0 0 0 0-.5"
      />
    </g>
  </svg>
</a>

<a
  pButton
  [text]="true"
  severity="secondary"
  [rounded]="true"
  pRipple
  class="lg:!hidden"
  pStyleClass="@next"
  enterClass="hidden"
  leaveToClass="hidden"
  [hideOnOutsideClick]="true"
>
  <i class="pi pi-bars text-2xl!"></i>
</a>

<div
  class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border"
>
  <ul
    class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8"
  >
    <li>
      <a
        (click)="router.navigate(['/'], { fragment: 'home' })"
        pRipple
        class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl"
      >
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a
        (click)="router.navigate(['/landing'], { fragment: 'features' })"
        pRipple
        class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl"
      >
        <span>Productos</span>
      </a>
    </li>
    <li>
      <a
        (click)="router.navigate(['/landing'], { fragment: 'highlights' })"
        pRipple
        class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl"
      >
        <span>Categorias</span>
      </a>
    </li>
    <!-- <li>
      <a
        (click)="router.navigate(['/landing'], { fragment: 'pricing' })"
        pRipple
        class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl"
      >
        <span>Pricing</span>
      </a>
    </li> -->
  </ul>
  <div
    class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2"
  >
    <button
    >
    </button>
    <button
      pButton
      pRipple
      label="Login"
      routerLink="/auth/login"
      [rounded]="true"
      [text]="true"
    ></button>
    <button
      pButton
      pRipple
      label="Register"
      routerLink="/auth/register"
      [rounded]="true"
    ></button>
  </div>
</div>
